*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
.container{
    width: 100%;
}
header{
    background-image: url("https://res.cloudinary.com/marykaystuff/image/upload/v1586457397/bk8h24pxsxx1hggbqdin.svg");
    background-repeat: no-repeat;
    background-color: rgb(197, 195, 183);
    background-blend-mode: multiply;
    background-size: cover;
    height: 100vh;
}
.nav-link ul{
    display: flex;
    margin: 0;
    justify-content: center;
    padding: 5em 1em;
    font-weight: 600;

}
.nav-link li{
    list-style-type: none;
    padding: 0 1em;
    
}
.nav-link a{
    text-decoration: none;
    color: white;
    padding: .25em 0;
}


 a:hover , a:focus{
     color: rgb(215, 216, 182);
 }
 .current-page{
    border-bottom: 2px solid white;
 }
 header h1{
     color: white;
     margin: 9em 2em;
 }
 .content{
     width: 90%;
     margin: 0 auto;
 }
 .card-group{
    display: flex;
    justify-content: space-between;
    margin: 1em 0;
 }
 .card{
     width: 23%;
 }
 
 .card-img{
     width: 100%;
 }
 .card-text{
     font-weight: 300;
     font-size: 1em;
 }
.btn{
    background: rgb(160, 111, 6);
    color: white;
    font-size: 1rem;
    padding: 1em 1.8em;
    text-align: center;
    text-decoration: none;
    display: block;
    margin: 0 auto;
    max-width: 150px;

}

p{
color: white;
}

.footer{
    width: 90%;
    margin: 3em auto;
    color:rgba(red, green, rgb(234, 234, 243), .75);
    background: rgb(116, 115, 113);
    padding: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.link, .btn-icon-only{
    color: white;
}

.social-media{
    display: flex;
    flex-direction: column;
    width: 30%;
}
.social-media span{
padding: 1.5em;
}
.footer-about{
    display: flex;
    flex-direction: column;
    width: 20%;
    margin: 2em 3em;
}
.footer-text{
    text-align: center;
    padding: 2em 0;
}

.footer a{
    text-decoration: none;
}
.footer-links{
    display: flex;
    flex-direction: column;
    border-left: 1px solid white;
    padding-left:3em; 
    width: 30%;
    }

 /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .nav-link ul{
        display: flex;
        flex-direction: column;
    }
    .nav-link li{
        margin: .25em auto;
    }
    header{
        background-size: cover;
        background-position: center; 
        margin-bottom: 5em;
      }
      .card-group{
          flex-direction: column;
      }
      .card{
         width: 100%;
      }
      header h1{
        margin: 2em 1.5em;
        font-size: 1.5rem;
    }
    .footer{
        display: flex;
        flex-direction: column;
    }
    .footer-links{
        width: 100%;
        border-left: 0;
        margin: 0 auto;

    }
    .social-media{
        width: 100%;
        margin: 0 auto;

    }
    .footer-about{
        width: 50%;
        align-content: center;
    }
    }

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    header h1{
        font-size: 2rem;
    }
}
