*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
.container{
    width: 100%;
}
header{
    background-image: url("https://res.cloudinary.com/marykaystuff/image/upload/v1586457397/bk8h24pxsxx1hggbqdin.svg");
    background-repeat: no-repeat;
    background-color: rgb(197, 195, 183);
    background-blend-mode: multiply;
    background-size: cover;
    height: 100vh;
}
/*
====================
    Navbar
====================
*/
.nav-link{
    display: flex;
    flex-direction: row;
    font-weight: 600;
    justify-content: center;
    padding: 3em 0;
    margin: 0;
    font-size: 0.75em;
}
.nav-link ul{
    display: flex;
    padding: 0;
    margin: 0;
}
.nav-link li{
    list-style-type: none;
    padding: 3em 2em;
}
.nav-link a{
    text-decoration: none;
    color: white;
}
.nav-logo img{
    width: 7vw;
}
 a:hover , a:focus{
     color: rgb(215, 216, 182);
     padding: 0;

 }
 .nav-link a:hover, .nav-link a:focus{
    border-bottom: 2px solid white;
    padding: 1px;
 }
 header h1{
     color: white;
     margin: 10em 2.5em;
 }
 /*
====================
    Layout
====================
*/
 .content{
     width: 90%;
     margin: 0 auto;
 }
 .card-group{
    display: flex;
    justify-content: space-between;
    margin: 1em 0;
 }
 .card{
     width: 23%;
 }
 
 .card-img{
     width: 100%;
 }
 .card-text{
     font-weight: 300;
     font-size: 1em;
 }
.btn{
    background: rgb(160, 111, 6);
    color: white;
    font-size: 1rem;
    padding: 1em 1.8em;
    text-align: center;
    text-decoration: none;
    display: block;
    margin: 0 auto;
    max-width: 150px;
}
p{
color: white;
}
/*
====================
    Navbar
====================
*/
.footer{
    width: 100%;
    background: rgb(116, 115, 113);
}
.footer-content{
    margin: 0 auto;
    margin-top: 3em;
    padding: 4em 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.link, .btn-icon-only{
    color: white;
}

.social-media{
    display: flex;
    flex-direction: column;
    width: 25%;
    margin: 2em auto;
    line-height: 1.5em;
}
.social-media p{
    margin-top: 0;
}
.btn-icon-only i{
    color: white;
    padding-right: 2em;
}
.footer-about{
    display: flex;
    flex-direction: column;
    width: 20%;
    margin: 0 auto;
}
.footer-about img{
    width: 7vw;
    padding-bottom: 1.5em;
}
.footer-text{
    padding: 0 auto; 
}
.footer a{
    text-decoration: none;
}

.footer-links{
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 2em auto;
    line-height: 1.5em;
    padding-left: 2em;
    border-left: 2px solid white;
    }
.footer-links p {
    margin-top: 0;
}

 /* ===========================================
    Media query
    Extra small devices (phones, 600px and down)
    ===========================================
  */

@media only screen and (max-width: 600px) {
    .nav-link {
        flex-direction: column;
        margin: 0 auto;
        padding: 0;
    }
    .nav-link li{
        width: 50%;
    }
  
    .nav-logo{
        margin: 0 auto;
    }
    header{
        background-size: cover;
        background-position: center; 
        margin-bottom: 5em;
      }
      .card-group{
          flex-direction: column;
      }
      .card{
         width: 100%;
      }
      header h1{
        margin: 5em 1.5em;
        font-size: 1.5rem;
    }
    .footer{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-size: 0.75em;
        margin-top: 3em;
    }
    .footer-links{
        width: 50%;
        border-left: 0;
        margin: 0 auto;
        align-content: center;

    }
    .social-media{
        width: 50%;
        margin: 0 auto;
        align-content: center;


    }
    .footer-about{
        width: 50%;
        align-content: center;

    }
    .btn-icon-only i{
        color: white;
        padding-right: 0.5em;
    }
    }

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    header h1{
        font-size: 2rem;
    }
}
