*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.container{
    width: 100%;
}

.header{
    background-image: url("https://res.cloudinary.com/marykaystuff/image/upload/v1586798578/ao22gsf3wwvgmvhvdkzo.svg");
    background-repeat: no-repeat;
    background-color: rgb(197, 195, 183);
    background-blend-mode: multiply;
    background-size: cover;
    height: 100vh;
}
header .btn{
    border: 2px solid white;
    color:white;
    font-size: 1rem;
    padding: 0 1em;
    margin: 1em 0;
    display: block;
    width: 120px;
    text-align: center;
    text-decoration: none;
}
header h1{
    margin: 5em 4em;
    font-size: 2em;
    color: white;
    line-height: 1.5em;
}

/*
====================
    Navbar
====================
*/
.nav-link{
    display: flex;
    flex-direction: row;
    font-weight: 600;
    justify-content: center;
    padding: 4em 0;
    margin: 0;
    font-size: 0.80em;
}
.nav-link ul{
    display: flex;
    padding: 0;
    margin: 0;
}
.nav-link li{
    list-style-type: none;
    padding: 4em 4em;
}
.nav-link a{
    text-decoration: none;
    color: white;
}
.nav-logo img{
    width: 7vw;
}
 .nav-link a:hover , .nav-link a:focus{
     color: rgb(215, 216, 182);
     padding: 0;

 }
 .nav-link a:hover, .nav-link a:focus{
    border-bottom: 2px solid white;
    padding: 1px;
 }
 
 /*
====================
    Layout
====================
*/
 .content{
    width: 100%;
    margin-top: 2.5em;
}
 .card-group{
    display: flex;
    justify-content: space-between;
    padding:  0;
    margin: 0;
 }
 .card-group-1{
    display: flex;
    justify-content: space-between;
 }
 .card{
    width: 55%;
    height: 100%;
    padding:  0;
 }
 .card-text{
     margin: 10em 5em;
     width: 38%;
 }
 .card-text-2{
    padding: 7em;
    width: 35%;
}
.card-text-2 p{
font-weight: 600;
font-size: 1.1rem;
text-align: center;
padding: 0;
}
.card-text-2 .btn{
    background:  rgb(172, 136, 59);
    color:white;
    font-size: 1rem;
    padding: .90em 1em;
    margin: 0 auto;
    display: block;
    text-align: center;
    text-decoration: none;
    max-width: 120px;

}
 .card-text h2{
     font-weight: 600;
     font-size: 3rem;
 }
 .card-text p{
     margin: 0;
     font-weight: 300;
     font-size: 1em;
     color:black;
 }
.btn{
    border: 2px solid rgb(172, 136, 59);
    color: black;
    font-size: 1rem;
    padding: 1em 1.8em;
    margin: 3em 0;
    display: inline-block;
    text-align: center;
    text-decoration: none;
}
.card-left{
    width: 30%;
    height: 100%;
}
.text-left{
    background: rgb(172, 136, 59);
    color: white;
}
.text-left p{
    padding: 2em;
    margin: 0;
}

/*
====================
    Navbar
====================
*/
.footer{
    width: 100%;
    background: rgb(116, 115, 113);
}
.footer p{
    color: white;
}
.footer-content{
    margin: 0 auto;
    margin-top: 3em;
    padding: 4em 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.link, .btn-icon-only{
    color: white;
}

.social-media{
    display: flex;
    flex-direction: column;
    width: 25%;
    margin: 2em auto;
    line-height: 1.5em;
}
.social-media p{
    margin-top: 0;
}
.btn-icon-only i{
    color: white;
    padding-right: 2em;
}
.footer-about{
    display: flex;
    flex-direction: column;
    width: 20%;
    margin: 0 auto;
}
.footer-about img{
    width: 7vw;
    padding-bottom: 1.5em;
}
.footer-text{
    padding: 0 auto; 
}
.footer a{
    text-decoration: none;
}
.footer-links{
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 2em auto;
    line-height: 1.5em;
    padding-left: 2em;
    border-left: 2px solid white;
    }
.footer-links p {
    margin-top: 0;
}

 /* ===========================================
    Media query
    Extra small devices (phones, 600px and down)
    ===========================================
  */

@media only screen and (max-width: 600px) {
    .nav-link {
        flex-direction: column;
        margin: 0 auto;
        padding: 0;
    }
    .nav-link li{
        width: 50%;
    }
  
    .nav-logo{
        margin: 0 auto;
    }
    header{
        background-size: cover;
        background-position: center; 
        margin-bottom: 2em;
      }
      .card-group{
          flex-direction: column;
      }
      .card-group-1{
        flex-direction: column;
     }
      .card{
         width: 100%;
      }
      .card-text{
        width: 100%;
        margin: 3em 2em;
    }
    .card-text p{
        padding-right: 3em;
    }
      header h1{
        margin: 4em 1.5em;
        font-size: 2em;
        color: white;
    }
    .card-left{
        width: 100%;
    }
    .card-text-2{
        width: 100%;
        text-align: center;
    }
    
    .footer{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-size: 0.75em;
        margin-top: 3em;
    }
    .footer-links{
        width: 50%;
        border-left: 0;
        margin: 0 auto;
        align-content: center;

    }
    .social-media{
        width: 50%;
        margin: 0 auto;
        align-content: center;
    }
    .footer-about{
        width: 50%;
        align-content: center;

    }
    .btn-icon-only i{
        color: white;
        padding-right: 0.5em;
    }
    }

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    header h1{
        font-size: 2rem;
    }
}
